<div class="container">
    <div class="jumbotron">
        <h1>Welcome!</h1>
    <div class="body">
        Click Login to authenticate through Google and access your JWT token to use with he Garden API.
    </div>
    </div>
    <a href="/auth"><button type="button" class="btn btn-secondary">Login</button></a>
</div>
