<div class="container">
    <div class="jumbotron">
        <h1>Token Generated.</h1>
		<div class="input-group" style="padding-top: 25px">
		  <div class="input-group-prepend">
		    <span class="input-group-text">JWT Token (id_token)</span>
		  </div>
		  <textarea class="form-control" style="height: 100px; color: grey;" aria-label="With textarea">{{jwt}}</textarea>
		</div>
    <div class="body" style="padding-top: 25px">
    	{{page_explanation}}
    </div>
    </div>
    <a href="/"><button type="button" class="btn btn-secondary">Go Back</button></a>
</div>